langchain-core==0.2.3
langchain==0.2
faiss-cpu
python-dotenv
pypdf
langchain-openai
langchain_pinecone
pinecone-client
newsapi-python
apify-client
chromadb
langchain-community
GitPython

# Multimodal RAG
unstructured #  provides open-source components for ingesting and pre-processing images and text documents, such as PDFs, HTML, Word docs, and many more --> dedicated to LLMs
unstructured-inference
onnx 
pytesseract # required for digits recognition (OCR)
tesseract
python-poppler

# Knowledge DB + graphDB

networkx
neo4j